.globalContainerService {
  display: flex;
  flex: column;
  justify-content: center;
  justify-content: space-between;
}
.globalNavbarWrapper {
  display: none;
}
.globalBanner {
  display: flex;
  width: 100%;
  height: 299px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left: 0px;
  background-color: #446953;
}
.globalCenterLogo {
  h1 {
    display: inline-block;
    white-space: nowrap;
    font-size: 48px;
    font-weight: 300;
    line-height: 50px;
    font-stretch: ultra-condensed;
    color: white;
    font-family: "Roboto Serif", serif;
    font-style: normal;
    letter-spacing: 4px;
  }
}
.globalBannerBottom {
  margin-top: 32px;
  background-color: #446953;
  height: 130px;
  width: 100%;
}
.globalServiceIncluded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 101px;
}
.globalServiceIncludedContent {
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  h2 {
    font-size: 32px;
    letter-spacing: 4px;
    padding-bottom: 35px;
    margin: 0;
  }

  h5 {
    font-family: Raleway;
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
  }

}
.globalTreatment {
  width: 1134px;
  margin: 79px 32px 120px 101px;

}
.globalMainBottomTitle {
  margin-bottom: 24px
}
.globalMainBottomTitleDescription {
  margin-bottom: 60px;
}
.globalMainBottomTreatment {
  padding: 0px;
  margin-top: 0px;
}
.globalWarningWrap {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.globalServiceIncludedWarning {
  max-width: 1500px;
  width: 1134px;
  border: 1px solid black;
  align-items: center;
  margin: 60px 32px 120px 101px;


  div {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 28px;
    margin-left: 26px;
  }

  ul {
    padding-left: 95px;

    li {
      width: 900px;
    }
  }
}

.globalServiceSteps {
  display: grid;
  grid-template-areas:
    "id1 id4"
    "id2 id5"
    "id3 id6";
  grid-template-columns: 503px 537px;
  grid-auto-rows: min-content;
  column-gap: 100px;
  row-gap: 50px;
  /**padding: 0px 0px 120px 101px; */
  width: 1184px;

  .descriptionStyle {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 10px;
  }
}

.id1 {
  grid-area: id1;
}

.id2 {
  grid-area: id2;
}

.id3 {
  grid-area: id3;
}

.id4 {
  grid-area: id4;
}

.id5 {
  grid-area: id5;
}
