.bdtreatment {
  width: 1134px;
  margin: 79px 32px 0px 101px;
}
.bannerMiddlePhoto img {
  height: 715px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
