.titleDescription {
  grid-column: 1 / 2;
  margin: 163px 100px 0px 0px !important;

  h5 {
    padding-bottom: 0 !important;
  }
}
.bannerMiddlePhoto img {
  height: 715px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.bannerMiddleContentDetails h5 {
  font-family: 'Raleway';
  font-weight: 550;
  font-size: 16px;
  display: block;
  padding-bottom: 10px!important;
}
.treatment {
  width: 1134px;
  margin: 79px 32px 0px 101px;
}
.BdDescriptionStyle {
  display: inline;
}
.BdDescriptionStyle h5{
  margin: 10px;
  padding: 0;
}
.BdDescriptionStyle p {
  display: inline;
  margin: 0;
  padding-left: 10px;
}
