.descriptionStyle p {
  display: inline;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 10px;
}
.benefitItem {
  margin-bottom: 5px;
}
.withoutTitleStyle p {
  margin-bottom:5px;
}
.firstColumItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.descriptionStyle {
  display: inline;
  margin-left: 10px;
}

.descriptionStyle p {
  margin: 0;
  padding-left: 0;
  display: inline;
}

h5 {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 20px;
}
