.bannerWrapper {
  height: 836px;
}
.bannerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.titleDescription {
  grid-column: 1 / 2;
  margin: 225px 128px 0px 0px !important;
}
.bannerBottom {
  margin-top: 32px;
  background-color: #446953;
  height: 130px;
  width: 100%;
}
.bannerMiddlePhoto img {
  height: 809px;
  width: 708px;
}
.id1 {
  grid-area: id1;
}

.id2 {
  grid-area: id2;
}

.id3 {
  grid-area: id3;
}

.id4 {
  grid-area: id4;
}

.id5 {
  grid-area: id5;
}

.id6 {
  grid-area: id6;
}
.id7 {
  grid-area: id7;
}
.id8 {
  grid-area: id8;
}
.id9 {
  grid-area: id9;
}
@media (max-width: 430px) {
  .bannerWrapper {
    height: auto;
  }

  .titleDescription {
    grid-column: 1 / 2;
    margin: 32px 0px 0px 0px;
  }
  .bannerMiddlePhoto img {
    height: 275px;
    width: 358px;
  }
}
