.bannerWrapper {
  height: 830px;
}

.bannerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.bannerMiddlePhoto img {
  height: 813px;
  width: 708px;
}
.bannerBottom {
  margin-top: 60px;
  background-color: #446953;
  height: 130px;
  width: 100%;

}
.id1 {
  grid-area: id1;
  height: min-content;
}

.id2 {
  grid-area: id2;
}

.id3 {
  grid-area: id3;
}

.id4 {
  grid-area: id4;
}

.id5 {
  grid-area: id5;
}

.id6 {
  grid-area: id6;
}

.id7 {
  grid-area: id7;
}

.id8 {
  grid-area: id8;
}

.id9 {
  grid-area: id9;
}
