.titleDescription{
  margin: 143px 128px 0px 0px !important;
}
.serviceIncluded {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 101px;
}
.treatment {
  width: 1134px;
  margin: 79px 32px 120px 101px;
}
