.roseDeMerBanner {
  display: flex;
  width: 100%;
  height: 299px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left: 0px;
  background-color: #446953;
}
.centerLogo {

  h1 {
    display: inline-block;
    white-space: nowrap;
    font-size: 48px;
    font-weight: 300;
    line-height: 50px;
    font-stretch: ultra-condensed;
    color: white;
    font-family: "Roboto Serif", serif;
    font-style: normal;
    letter-spacing: 4px;
  }
}
