.navbarWrapper {
  display: none;
}
.title  {
  margin-top: 60px;
}
.titleDescription {
  grid-column: 1 / 2;
    margin: 143px 128px 0px 0px !important;
}
.bannerMiddlePhoto {
  margin-top: 54px;
}

.bannerMiddlePhoto img {
  height: 799px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
}


.bannerMiddleContentDetails>div {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    padding-bottom: 0px;
  }

}
.descriptionStyle p {
  display: inline;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 10px;
}
.bannerMiddleContentDetails h5{
  font-family: 'Raleway';
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 0!important;
}
.sessionTitle {
  font-family: 'Raleway';
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 10px;
}
.firstBannerBottom {
  background-color: #446953;
  height: 130px;
  width: 100%;
  margin-top: -85px;
}
/* Second Main Banner */
.serviceSteps{
  margin: 60px 0px 32px 101px;

  .serviceTitle {
    margin-bottom: 32px
  }

  ul{
    margin-bottom: 60px;
  }
  h2 {
    font-size: 32px;
    letter-spacing: 4px;
    padding-bottom: 35px;
    margin: 0;
  }

  h5 {
    font-family: Raleway;
    margin: 0;
    display: inline-block;
  }
  .servicePhoto{
    height: 349px;
    width: 539px;
    object-fit: cover;
    position: relative;
    margin-left: 323px;
  }
  .servicePhoto img {
    max-width: 100%;
    height: auto;
  }
}
