.serviceIncluded {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 101px;
}

.serviceIncludedContent {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  margin: 90px 0px 32px 0px;

  h2 {
    font-size: 32px;
    letter-spacing: 4px;
    padding-bottom: 35px;
    margin: 0;
  }

  h5 {
    font-family: Raleway;
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
  }

  p {
    padding-bottom: 0px;
    margin: 0px;

  }

  .serviceTitle {
    padding: 10px;
    padding-left: 101px;
  }

  .serviceSteps {
    display: grid;
    grid-template-columns: 503px 503px;
    column-gap: 100px;
    padding: 32px 5px 120px 101px;

    .descriptionStyle {
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-left: 10px;
    }
  }
}

.serviceIncludedWarning {
  max-width: 1134px;
  border: 1px solid black;
  margin: 0 0px 120px 101px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 28px;
  }
}
@media (max-width: 430px) {
.serviceIncluded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    padding: 0;
  }

  .serviceIncludedContent {
    max-width: 358px;
    margin: 60px 16px 120px 16px;

    .service-title {
      padding: 10px 0px 32px 0px;
    }

    .serviceSteps {
      grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
      column-gap: 30px;
      padding: 0;

      .detail-item {
        width: 358px;
      }
    }

    .serviceIncludedWarning {
      margin: 40px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        display: inline-block;

        .material-symbols-outlined {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 16px;
        }
      }
    }
  }
}
