.titleDescription {
  grid-column: 1 / 2;
  margin: 163px 128px 0px 0px !important;
}

.emptySpace {
  height: 120px;
}

.bannerMiddlePhoto img {
  height: 715px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
