.mobileNavbarWrapper {
  width: 100vw;
}

.bannerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.bannerMiddle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  z-index: 1;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 101px;
}

.bannerMiddleContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0px auto;
  width: 100%;
  margin: 0px 0px 32px 101px;

  h2 {
    font-size: 32px;
    letter-spacing: 4px;
    padding-bottom: 35px;
    margin: 0;
  }

  h5 {
    font-family: Raleway;
    font-weight: 600;
    margin: 0;
    padding-bottom: 24px;
  }

  p.bannerMiddleRecommendation {
    padding-bottom: 20px;
    margin: 0px;
  }
  .title {
    grid-column: 1 / 2;
    margin: 89px 0px 0px 0px;
    h2 {
      letter-spacing: 1px;
    }
  }

  .titleDescription {
    grid-column: 1 / 2;
    margin: 162px 128px 0px 0px;
    padding-bottom: 32px;

    h5 {
      font-family: Raleway;
      font-weight: 600;
      margin: 0;
      padding-bottom: 24px;
    }
  }
  .bannerMiddleContentDetails {
    span {
      margin-left: 10px;
    }
  }
  .bannerButton {
    padding-top: 30px;
  }
}

.bannerMiddleContentDetails>div {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    padding-bottom: 0px;
  }
}
.bannerMiddlePhoto{
  margin-top: 80px;
}
.bannerMiddlePhoto img {
  height: 630px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
}
.bannerBottom{
  padding-top: 30px;
}
@media (max-width: 430px) {
  .mobileNavbarWrapper {
    padding-bottom: 50px;
  }
  .bannerWrapper {
    height: auto;
  }
  .bannerMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: flex-start;
    padding-left: 0;

    h2 {
      font-size: 28px;
      letter-spacing: 2px;
      padding-bottom: 40px;
    }

  }

  .bannerMiddleContent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 358px;
    margin: 0px;

  }

  .title {
    order: 1;
    margin: 0;
    padding-bottom: 32px;
  }

  .titleDescription {
    order: 3 !important;
    margin: 32px 0px 0px 0px;
  }

  .bannerMiddlePhoto {
    order: 2 !important;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }

  .bannerMiddlePhoto img {
    display: flex;
    height: 275px;
    width: 358px;
    object-fit: cover;
    margin-top: 0;
    border-radius: 6px;
    position: relative;
  }

  .bannerButton {
    padding-top: 30px;
    padding-bottom: 32px;
  }
}
