.bannerWrapper {
  height: 697px;
}
.bannerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.bannerBottom {
  background-color: #446953;
  height: 130px;
  width: 100%;
}
.titleDescription {
  grid-column: 1 / 2;
  margin: 225px 128px 0px 0px;
}
.timeAndPrice{
  display: none;
}
.bannerMiddlePhoto img {
  height: 708px;
  width: 705px;
}
.id1 {
  grid-area: id1;
}

.id2 {
  grid-area: id2;
}

.id3 {
  grid-area: id3;
}

.id4 {
  grid-area: id6;
}

.id5 {
  grid-area: id7;
}
@media (max-width: 430px) {
  .bannerWrapper {
    height: auto;
  }
}
