@import "../style.css";

h1 {
  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  display: flex;
  margin-bottom: 40px;
  text-transform: math-auto;
}

h3 {
  color: var(--green-100);
  font-family: "Roboto Serif" serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-transform: math-auto;
}

h4 {
  color: var(--green-100);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 500; */
  font-weight: bold;

  line-height: normal;
  letter-spacing: normal;
}

h5 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.container {
  flex-direction: column;
  width: 100vw;

}
.sub-title {
  margin-top: 24px;
}
.left-title {
  text-align: left;
  font-weight: bold;
  text-transform: math-auto !important;
}

.hero {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  margin: 115px 0;
  margin-left: 60px;


  .we-are-letih-beauty {
    display: flex;
    flex-direction: column;
    margin: calc(115px / 2);
    width: 550px;

    .mission-vision {
      margin-top: 63px;
    }
    h3{
      letter-spacing: 4px;
      font-style: italic;
      font-size:25px
    }
    h4{
      font-weight:500;
    }
  }
}

  .our-values {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 60px;

    .our-values-content {
      margin-right: 140px;
      margin-left: 128px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h4 {
      font-weight: 500;
    }
  }

  .behind-scenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0;

    .image-letih {
      width: 982px;
      height: 833px;
    }

    .behind-scenes-content {
      display: flex;
      flex-direction: column;
      margin: 120px 129px;
    }
                h4 {
                  font-weight: 500;
                }

    .btn-book {
      align-self: center;
      margin-top: 60px;
    }
  }

  .bottom-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 60px;
  }
  .bottom-images img {
    width: 350px;
    height: auto;
  }

.bottomLineGreen {
  background-color: var(--green-100);
  height: 15px;
  width: 100%;
  margin-top: -60px;
}
.bottomLineWhite {
  background-color:white;
  margin-top: 120px;
}
@media only screen and (max-width: 431px) {
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
  align-items: center;
  margin: 0;

  .h2-title {
    font-size: 28px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 30px 0px;


    img {
      width: 358px;
      height: 395px;
    }

    .we-are-letih-beauty {
      width: 100vw;
      margin: 20px 16px;
      align-items: center;

      h1  {
        margin: 20px 16px;
      }
    }
  }

  .behind-scenes {
    margin: 40px 0px 0px 0px;
    align-items: center;


    .image-letih {
      width: 358px;
      height: 362px;
    }

    .behind-scenes-content {
      margin: 40px 16px;
    }
  }

  .our-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;

    .our-values-content {
      margin: 40px 16px 30px 16px;
    }

    img {
      width: 358px;
      height: 395px;
    }
  }

  .bottom-images {
    display: none;
  }
}
}
