@import "../style.css";

.banner {
  /* background-image: url("../../public/images/hero-women-leaf.webp"); */
  height: 841px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: var(--white-200);

  .content {
    display: flex;
    position: relative;
    z-index: 1;
    margin: -210px 362px 0 0;
    flex-direction: column;
  }

  img {
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    height: 841px;
    clip-path: polygon(0% 0, 430% 0, 50% 100%, 0 85%);
  }

  h1 {
    width: 499px;
    position: static;
    top: 257px;
    left: 128px;
    text-align: left;
    margin: 0;
  }

  h3 {
    text-align: left;
    top: 452px;
    left: 128px;
  }
}
