@import "../style.css";

.banner {
  height: 841px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: var(--white-200);

  .content {
    display: flex;
    position: relative;
    z-index: 1;
    margin: -210px 362px 0 0;
    flex-direction: column;
  }

  img {
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    height: 841px;
    clip-path: polygon(0% 0, 430% 0, 50% 100%, 0 85%);
  }

  h1 {
    width: 499px;
    position: static;
    top: 257px;
    left: 128px;
    text-align: left;
    margin: 0;
  }

  h3 {
    text-align: left;
    top: 452px;
    left: 128px;
  }
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-200);
  padding-top: 80px;

  img {
    width: 625px;
    height: 420px;
    flex-shrink: 0;
  }

  .about-us-content {
    margin: 20px 128px;
  }

  .about-us-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
  }

  .about-us-top-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: -100px;
  }
  .about-us-button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -90px;
    z-index: 0;
  }

  .about-us-button-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 50px;
  }
}

.our-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

  img {
    width: 500px;
    height: 332px;
    flex-shrink: 0;
  }

  h2 {
    margin-bottom: 80px;
  }

  .green-services {
    background-color: var(--green-50);
    display: flex;
    flex-direction: row;
    padding: 60px 170px;
    align-items: flex-start;

    .green-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      align-items: flex-start;

      h5,
      p {
        color: var(--white-200);
      }
    }
  }

  .white-services {
    background-color: var(--white-200);
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 170px;
    align-items: flex-start;
  }
}
