@import "../style.css";

.custom-button {
  display: flex;
  font-family: "Poppins";
  border: none;
  border-radius: 6px;
  width: 90px;
  height: auto;
  padding: 0.5rem 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  margin: 2rem 0;
  white-space: nowrap;
}

.green {
  background-color: var(--green-100);
  color: var(--white-200) !important;
}

.white {
  background-color: var(--white-200);
  color: var(--green-100);
}

.green:hover {
  background-color: var(--green-50);
  color: var(--white-200);
}

.white:hover {
  background-color: var(--green-100);
  color: var(--white-200);
}

@media only screen and (max-width: 430px) {
  .custom-button {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
  }
}
