@import "../style.css";

.custom-button {
  display: flex;
  font-family: "Poppins";
  background-color: var(--green-100);
  color: white;
  border: none;
  border-radius: 6px;
  width: 232px;
  height: 56px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.custom-button:hover {
  background-color: var(--green-100);
}
