

.ICcolumn {
  /* Seus estilos aqui */
  color: blue !important;
  /* Use com cautela */
  background-color: yellow;

}

.ICfirstColumItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.ICdescriptionStyle p {
  margin: 0;
  padding-left: 0;
  display: inline;
  color: blue !important;
}
