:root {
  --green-100: #164734;
  --green-50: #446953;

  --black-300: #000000;
  --black-200: #222222;
  --black-100: #282828;

  --grey-500: #717171;
  --grey-300: #dddddd;
  --grey-200: #e1e1e1;
  --grey-100: #f5f5f5;

  --white-200: #ffffff;
  --white-170: #f7f7f7;
  --media-mobile: 480px;
  --media-tablet: 768px;
}

h1 {
  font-family: "Roboto Serif";
  color: var(--green-100);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  text-transform: uppercase;
}

h2 {
  color: var(--green-100);
  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 8px;
}

h3 {
  color: var(--green-100);
  text-align: center;
  font-family: "SVN-Aire Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h4 {
  color: var(--green-100);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.8px;
}

h5 {
  color: var(--Black-100, #000);
  font-family: "Roboto Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  margin: 0;
}

h6 {
  color: var(--Black-100, #000);
  font-family: "Roboto Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

p {
  color: var(--Black-100, #000);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

@media screen and (min-width: var(--media-mobile)) {
  h1 {
    color: var(--green-100);
    font-size: 40px;
    line-height: 50px; /* 125% */
  }

  h2 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 6.4px;
  }

  h3 {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 3.2px;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
  }
}
